[submodule "modules/docker"]
	path = modules/docker
	url = https://github.com/garethr/garethr-docker.git
[submodule "modules/marathon"]
	path = modules/marathon
	url = https://github.com/meltwater/puppet-marathon.git
[submodule "modules/mesos"]
	path = modules/mesos
	url = https://github.com/deric/puppet-mesos
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/zookeeper"]
	path = modules/zookeeper
	url = https://github.com/deric/puppet-zookeeper
[submodule "modules/epel"]
	path = modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "modules/archive"]
	path = modules/archive
	url = https://github.com/camptocamp/puppet-archive
[submodule "modules/datacat"]
	path = modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
[submodule "modules/consul"]
	path = modules/consul
	url = https://github.com/solarkennedy/puppet-consul.git
[submodule "modules/staging"]
	path = modules/staging
	url = https://github.com/nanliu/puppet-staging.git
[submodule "modules/consul_template"]
	path = modules/consul_template
	url = https://github.com/tayzlor/puppet-consul_template.git
[submodule "modules/haproxy"]
	path = modules/haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat
